<form>
  <div class="form-group">
    <label for="cardName">Card Name</label>
    <input type="text" class="form-control" id="cardName" />
  </div>
  <div class="form-group">
    <label for="cardType">Card Type</label>
    <select class="form-control" id="cardType"></select>
  </div>
  <div class="form-group">
    <label for="teamAffiliation">Team Affiliation</label>
    <select class="form-control" id="teamAffiliation"></select>
  </div>
  <div class="form-group">
    <label for="keywordPowers">Keyword Powers</label>
    <select class="form-control" id="keywordPowers"></select>
  </div>
  <div class="form-control">
    <label for="cardText">Card Text</label>
    <input type="text" class="form-control" id="cardText" />
  </div>
  <div class="form-control">
    <label for="cardCost">Card Cost</label>
    <select class="form-control" id="cardCost"></select>
  </div>
  <div class="form-control">
    <label for="atk">Attack</label>
    <input type="text" class="form-control" id="atk" />
  </div>
  <div class="form-control">
    <label for="def">Defense</label>
    <input type="text" class="form-control" id="def" />
  </div>
</form>
