#filters label{
  color: #ffd200;
  margin-bottom: 0px;
  margin-top: 15px;
}

.footer-wrap {
    background: #1e2026 url(images/bg_footer.png) no-repeat bottom center;
    border-top: solid 1px #30333c;
    padding: 50px 0 0 0;
}
