<form>
  <div class="form-group">
    <label for="cardName">Card Name</label>
    <input type="text" class="form-control" id="cardName" ng-model="vm.query.name" />
  </div>
  <div class="form-group">
    <label for="cardType">Card Type</label>
    <am-multiselect
      class="input-lg"
      multiple="true"
      ms-selected ="There are {{vm.query.types.length}} selected"
      ng-model="vm.query.type"
      ms-header="Select card types"
      options="type for type in vm.cardTypes"
      template-url="multiselect.tmpl.html"
      change="selected()"></am-multiselect>
  </div>
  <div class="form-group">
    <label for="team">Team</label>
    <am-multiselect
      class="input-lg"
      multiple="true"
      ms-selected ="There are {{vm.query.team.length}} selected"
      ng-model="vm.query.team"
      ms-header="Select teams"
      options="team for team in vm.teams"
      template-url="multiselect.tmpl.html"
      change="selected()"></am-multiselect>
  </div>
  <div class="form-group">
    <label for="power">Power</label>
    <am-multiselect
      class="input-lg"
      multiple="true"
      ms-selected ="There are {{vm.query.powers.length}} selected"
      ng-model="vm.query.powers"
      ms-header="Select powers"
      options="power for power in vm.powers"
      template-url="multiselect.tmpl.html"
      change="selected()"></am-multiselect>
  </div>
  <div class="form-group">
    <label for="cardText">Card Text</label>
    <input type="text" class="form-control" id="cardText" ng-model="vm.query.rules"/>
  </div>
  <div class="form-group">
    <label for="cardCost">Card Cost</label>
    <input type=text" class="form-control" id="cardCost" ng-model="vm.query.cost"/>
  </div>
  <div class="form-group">
    <label for="atk">Attack</label>
    <input type="text" class="form-control" id="atk" ng-model="vm.query.atk" />
  </div>
  <div class="form-group">
    <label for="def">Defense</label>
    <input type="text" class="form-control" id="def" ng-model="vm.query.def" />
  </div>
  <button type="submit" class="btn btn-primary" ng-click="vm.performQuery()">Search</button>
  <button type="reset" class="btn btn-default">Reset</button>
</form>
