<form name="filters" novalidate ng-submit="vm.performQuery()">
  <div class="form-group">
    <label for="cardName">Card Name</label>
    <input type="text" class="form-control" id="cardName" ng-model="vm.query.name" />
  </div>
  <div class="form-group">
    <label for="cardType">Card Type</label>
    <am-multiselect
      class="input-lg"
      multiple="true"
      ms-selected ="There are {{vm.query.types.length}} selected"
      ng-model="vm.query.type"
      ms-header="Select card types"
      options="type for type in vm.cardTypes"
      template-url="multiselect.tmpl.html"
      change="selected()"></am-multiselect>
  </div>
  <div class="form-group">
    <label for="team">Team</label>
    <am-multiselect
      class="input-lg"
      multiple="true"
      ms-selected ="There are {{vm.query.team.length}} selected"
      ng-model="vm.query.team"
      ms-header="Select teams"
      options="team for team in vm.teams"
      template-url="multiselect.tmpl.html"
      change="selected()"></am-multiselect>
  </div>
  <div class="form-group">
    <label for="power">Power</label>
    <am-multiselect
      class="input-lg"
      multiple="true"
      ms-selected ="There are {{vm.query.powers.length}} selected"
      ng-model="vm.query.powers"
      ms-header="Select powers"
      options="power for power in vm.powers"
      template-url="multiselect.tmpl.html"
      change="selected()"></am-multiselect>
  </div>
  <div class="form-group">
    <label for="cardText">Card Text</label>
    <input type="text" class="form-control" id="cardText" ng-model="vm.query.rules"/>
  </div>
  <div class="form-group">
    <label for="cardCost">Card Cost</label>
    <div class="row">
      <div class="col-xs-6">
        <select class="form-control" ng-model="vm.costOp">
          <option value="$eq">&#61;</option>
          <option value="$gt">&gt;</option>
          <option value="$gte">&gt;&#61;</option>
          <option value="$lt">&lt;</option>
          <option value="$lte">&lt;&#61;</option>
        </select>
      </div>
      <div class="col-xs-6">
        <input type=text" class="form-control" id="cardCost" ng-model="vm.cost" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="atk">Attack</label>
    <div class="row">
      <div class="col-xs-6">
        <select class="form-control" ng-model="vm.atkOp">
          <option value="$eq">&#61;</option>
          <option value="$gt">&gt;</option>
          <option value="$gte">&gt;&#61;</option>
          <option value="$lt">&lt;</option>
          <option value="$lte">&lt;&#61;</option>
        </select>
      </div>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="atk" ng-model="vm.atk" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="def">Defense</label>
    <div class="row">
      <div class="col-xs-6">
        <select class="form-control" ng-model="vm.defOp">
          <option value="$eq">&#61;</option>
          <option value="$gt">&gt;</option>
          <option value="$gte">&gt;&#61;</option>
          <option value="$lt">&lt;</option>
          <option value="$lte">&lt;&#61;</option>
        </select>
      </div>
      <div class="col-xs-6">
        <input type="text" class="form-control" id="def" ng-model="vm.def" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
  <button type="button" class="btn btn-default" ng-click="vm.performReset()">Reset</button>
</form>
